{% extends 'basesite.html' %}

{% block head %}
  <title>Anmeldung</title>
{% endblock %}

{% block body %}
<div class="innercontainer">
  <div class="col-lg-8">
    <h1 style="margin-bottom: 0.5em">Passwort ändern</h1>
    <p style="margin-bottom: 0.5em;">
        Mit einem <b>&#10033;</b> gekennzeichnete Felder müssen ausgefüllt werden.
    </p>
    <p>
        Ihr neues Passwort:
          <li>muss mindestens acht Zeichen lang sein.
          <li>darf nicht nur aus Zahlen bestehen.
          <li>darf nicht zu ähnlich zu Ihren anderen persönlichen Informationen sein.
          <li>darf nicht allgemein üblich sein.
    </p>
      <form method="post">
        {% csrf_token %}

        <!--der untenstehende Teil ist die designte {{ form }}-->

        <table style="margin-bottom: 1.5em; margin-top: 1.5em;" width="45%">

          <tr><td><label for="{{ form.old_password.id_for_label }}">Altes Passwort*</label></td></tr> <!--Titel für Platzhalter definieren-->
          <tr><td><input type="password" name="old_password" required autofocus id="id_old_password" class="form-control"></td></tr> <!--Platzhalter-->

          <tr><td><label style="margin-top: 1.5em;" for="{{ form.new_password1.id_for_label }}">Neues Passwort*</label></td></tr>
          <tr><td><input type="password" name="new_password1" required id="id_new_password1" class="form-control"></td></tr>

          <tr><td><label style="margin-top: 1.5em;" for="{{ form.new_password2.id_for_label }}">Neues Passwort bestätigen*</label></td></tr>
          <tr><td><input type="password" name="new_password2" required id="id_new_password2" class="form-control"></td></tr>
        </table>

        <div style="clear: both;"></div>

        <button class="btn btn-success btn-sm" type="submit">Bestätigen</button>
        <a style="margin-left: 1em;" href="{% url 'user:profile' %}" id="cancel" name="cancel" class="btn btn-default">Abbrechen</button></a>

        <div style="margin-top: 1.5em;">
          <div style="margin-bottom: 1.5em;">
            {% if form.old_password.errors %} <!--Wenn altes Passwort nicht stimmt zeige Error an-->
              <p class="label label-danger">
                Ihre altes Passwort ist nicht korrekt.
              </p>
            {% endif %}
          </div>

          <div style="margin-bottom: 1.5em;">
            {% if form.new_password2.errors %}   <!--Wenn neue Passwoerter nicht uebereinstimmen zeige Error an-->
              <p class="label label-danger">
                Ihr neues Passwort stimmt nicht überein oder entspricht nicht den Bedingungen.
              </p>
            {% endif %}
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}
